.row {
  min-width: 680px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.btnGray {
  margin-bottom: 10px;
}
